body{
    background-color:lightgray;
    color:black;
    }


.navbar-brand{
    color:white;
    margin-left:25px;
    padding:inherit;
}

.container img{
    display: inline;
    margin: auto;
}
h2{
    color:black;
    text-align: left;
}
h3{
    text-align:center;
}
h1{
    color:black;
    font-weight: bolder;
}

.box {
    background-color:white;
    margin-top:35px;
    margin-bottom:5px;
    padding:12px 15px 10px;
    color:black;

}
#imageNav-area {

    padding: 20px 2px 5px;

  }

.imageNav-header {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    color: #070707;
  }
  
.imageNav-photo {
    width: 170px;
    height: 170px;
  }
  #images {
    padding-top: 15px;
    text-align: center;
  }
  .img-box{
    background-color: white;
    margin-top:60px;
    overflow: auto;
    height: auto;
  }